include common/_mixins


doctype html
html
	include common/_head
	body
		.wrapper_works
			header.header
				+header_top
				.info-box_user
					.info-box_img
						img(src="img/foto.jpg" class="user_foto")
					h1.info-box_name Денис Детко
					.info-box_desc Личный сайт веб разработчика
				svg.icon_arrow
					use(xlink:href="img/svg-sprite.svg#arrow_down")
				.about_bg
					svg(class="about_bg_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 85" preserveAspectRatio="none")
						polygon(fill="#f0efe9" points="0,0   0,86   500.8,86   500.8,75.5")
						polygon(fill="#efebe0" points="1000,0   1000,86   500,86   500,75.5")
			section.about_me
				.biography
					.biography_title
						h2.about_me_txt Обо мне
						svg.about_title_img.about_me_svg
							use(xlink:href="img/svg-sprite.svg#about_header")
					.biography_wrapper
						img.biography_img(src="img/my_foto.jpg")
						h2.biography_name Кто я
						p.biography_text Я веб разработчик из Минска. Мне 25 лет. Я занимаюсь разработкой соверменных сайтов и приложений. Мне нравится делать интересные и современные проекты.
						p.biography_text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут все классно и красиво.
				.skills
					h2.skills_title Чем я могу быть вам полезен
					p.skills_text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
					.skills_group
						.group_name Frontend
						+pie_chart("Html5")
						+pie_chart("CSS3")
						+pie_chart("JavaScript & jQuery")
					.skills_group
						.group_name Backend
						+pie_chart("PHP")
						+pie_chart("mySQL")
						+pie_chart("Node.js & npm")
						+pie_chart("Mongo.db")
					.skills_group
						.group_name WorkFlow
						+pie_chart("Git")
						+pie_chart("Gulp")
						+pie_chart("Bower")
			section.contacts_map
				.map
					iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2353.8615927720634!2d27.45672251585731!3d53.84532558008657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd09d07832649%3A0x6eebbeadd8582347!2z0YPQuy4g0KHQu9C-0LHQvtC00YHQutCw0Y8gMTM3LCDQnNC40L3RgdC6!5e0!3m2!1sru!2sby!4v1466521986291" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen)
				.contacts_info
					h2.contacts_title Контакты
					ul.contacts_list
						- var contacts = {"thesamueljacksonfive" : "img/svg-sprite.svg#skype", "dzianis.dzetko@gmail.com" : "img/svg-sprite.svg#envelope", "+375 29 322 59 69" : "img/svg-sprite.svg#phone", "Беларусь, Минск" : "img/svg-sprite.svg#map_marker"}
						each c_svg, c_name in contacts
							li.contacts_item
								svg.contacts_svg
									use(xlink:href=c_svg)
								a.contacts_link(href="#")=c_name
		include common/_footer		