include common/_mixins
doctype html
html(lang="ru")
	include common/_head
	body
		.admin-page
			.admin_header
				.header_title-wrapper
					h1.header_title Панель администрирования
				.header_link-wrapper
					a.header_link.preload-link(href="/" title="Вернуться на сайт") Вернуться на сайт

			ul.tabs-control
				li.tabs-control_item.active Навыки
				li.tabs-control_item Блог
				li.tabs-control_item Работы

			ul.tabs-content
				
				li.tabs-content_item.active
					form
						.form
							h2.form_heading Обо мне
							.skills_admin
								.skills_block
									+skills_heading("Frontend")
									ul.skills_list
										+skill_input("Html", 50)
										+skill_input("CSS", 50)
										+skill_input("JavaScript", 50)
								.skills_block
									+skills_heading("Backend")
									ul.skills_list
										+skill_input("Php", 50)
										+skill_input("MySql", 50)
										+skill_input("Node.js & npm", 50)
										+skill_input("Mongo.db", 50)
								.skills_block
									+skills_heading("Workflow")
									ul.skills_list
										+skill_input("Git", 50)
										+skill_input("Gulp", 50)
										+skill_input("Bower", 50)
							button.form_button(disabled) Сохранить
				li.tabs-content_item
					form
						.form
							h2.form_heading Блог
							h3.form_subtitle Добавить запись
							input.form_field(type="text", placeholder="Название", name="post-title")
							input.form_field.form_field_date(type="text", placeholder="Дата", name="post-date")
							textarea.form_field.form_field_textarea.tinymce-field(placeholder="Содержание", name="post-content")
							button.form_button(disabled) Добавить
				li.tabs-content_item
					form(enctype="multipart/form-data")
						.form
							h2.form_heading Мои работы
							h3.form_subtitle Добавить работу
							input(type="hidden", name="action", value="saveWork")
							input.form_field(type="text", placeholder="Название проекта", name="project-title")
							input.form_field(type="text", placeholder="Технологии", name="project-tech")
							input.form_field(type="text", placeholder="Ссылка", name="project-link")
							label(class="file-label") Загрузить картинку
								input.form_field.form_field_file(type="file", name="project-file")
							.form_field.form_field_image-preview
								.fa.fa-file-image-o
							button.form_button Добавить
