include common/_mixins

doctype html
html
	include common/_head
	body
		.wrapper_works
			header.header
				+header_top
				.info-box_user
					.info-box_img
						img(src="img/foto.jpg" class="user_foto")
					.blog_title
						h1.blog_txt Блог
						svg.blog_svg
							use(xlink:href="img/svg-sprite.svg#blog_header")
						p.blog_desc Статьи, которые я написал
				.about_bg
					svg(class="about_bg_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 85" preserveAspectRatio="none")
						polygon(fill="#fff" points="0,0   0,86   500.8,86   500.8,75.5")
						polygon(fill="#fff" points="1000,0   1000,86   500,86   500,75.5")
			section.blog
				.blog_chapters
					ul.chapters_list
						- var chapters = ["Самое важное в SASS", "Приёмы в вёрстке, без которых не обходится ни один сайт", "Самый необходимый набор Gulp плагинов", "Почему я выбрал Jade"]
						each c_name in chapters
							li.chapters_item
								a.chapters_link(href="#")=c_name
				.blog_posts
					.blog_article
						h2.article_title Самое важное в Sass
						p.article_date 22 июня 2016
						p.article_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae aliquid repellat, adipisci sit dolorum et a officia, minima consequuntur commodi, veritatis qui recusandae, voluptate quibusdam omnis delectus fuga placeat neque.
						p.article_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae aliquid repellat, adipisci sit dolorum et a officia, minima consequuntur commodi, veritatis qui recusandae, voluptate quibusdam omnis delectus fuga placeat neque.
					.blog_article
						h2.article_title Приёмы в вёрстке, без которых не обходится ни один сайт
						p.article_date 21 июня 2016
						p.article_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae aliquid repellat, adipisci sit dolorum et a officia, minima consequuntur commodi, veritatis qui recusandae, voluptate quibusdam omnis delectus fuga placeat neque.
						p.article_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae aliquid repellat, adipisci sit dolorum et a officia, minima consequuntur commodi, veritatis qui recusandae, voluptate quibusdam omnis delectus fuga placeat neque.
					.blog_article
						h2.article_title Самый необходимый набор Gulp плагинов
						p.article_date 20 июня 2016
						p.article_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae aliquid repellat, adipisci sit dolorum et a officia, minima consequuntur commodi, veritatis qui recusandae, voluptate quibusdam omnis delectus fuga placeat neque.
						p.article_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae aliquid repellat, adipisci sit dolorum et a officia, minima consequuntur commodi, veritatis qui recusandae, voluptate quibusdam omnis delectus fuga placeat neque.
					.blog_article
						h2.article_title Почему я выбрал Jade
						p.article_date 19 июня 2016
						p.article_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae aliquid repellat, adipisci sit dolorum et a officia, minima consequuntur commodi, veritatis qui recusandae, voluptate quibusdam omnis delectus fuga placeat neque.
						p.article_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae aliquid repellat, adipisci sit dolorum et a officia, minima consequuntur commodi, veritatis qui recusandae, voluptate quibusdam omnis delectus fuga placeat neque.
		include common/_footer