doctype html
html
head
	meta(charset="UTF-8")
	link(rel="stylesheet" href="css/app.css")
	link(rel="shortcut icon" type="image/x-icon" href="")
	link(rel="icon" type="image/x-icon" href="")
	title Dzianis Dzetko
body.animate
	.wrapper
		header.header_welcome
			a(href="#" class="auth" style="display: inline-block;") Авторизоваться
		.main
			.welcome
				.flip-card
					.flip-card_front
						.card_info
							.user_info
								.user_img
									img(src="img/foto.jpg" class="user_foto")
								.user_name Денис Детко
								.user_desc Личный сайт веб разработчика
								.user_social
									ul.social_list
										li.social_item
											a.social_link(href="#")
												svg.icon.icon_vk(width="25" heith="25")
													use(xlink:href="../source/img/svg-sprite.svg#vk")
										li.social_item
											a.social_link(href="#")
												svg.icon.icon_git(width="25" heith="25")
													use(xlink:href="../source/img/svg-sprite.svg#github")
										li.social_item
											a.social_link(href="#")
												svg.icon.icon_in(width="25" heith="25")
													use(xlink:href="../source/img/svg-sprite.svg#in")
								.user_menu
									ul.menu_list
										li.list_item
											a.item_link(href="works.html") Мои работы
										li.list_item
											a.item_link(href="#") Обо мне
										li.list_item
											a.item_link(href="#") Блог
					.flip-card_back
						.login_txt 
						form.login_form
						ul.login_buttons
		footer(class="footer_welcome")
			.footer_text © Денис Детко | создано с любовью в LoftScool | 2016