doctype html
html
	include common/_head
	body.animate
		.preloader
			.loader_round
			.loader_percents
		.parallax
			- var parallax = ["img/parallax/layer-0.png", "img/parallax/layer-1.png" ,"img/parallax/layer-2.png", "img/parallax/layer-3.png", "img/parallax/layer-4.png", "img/parallax/layer-5.png", "img/parallax/layer-6.png", "img/parallax/layer-7.png", "img/parallax/layer-8.png", "img/parallax/layer-9.png"]
			each p_url in parallax
				.layer
					img(src=p_url)
		.wrapper
			header.header_welcome
				a(href="#" class="authorization") Авторизоваться
			.main
				.validation(style="display: none;")
					.validation_content
						.validation_text Роботам тут не место
						a.validation_close(href="#1") X
				.welcome
					.flip-card
						.flip-card_front
							.user_img
								img(src="img/foto.jpg" class="user_foto")
							h1.user_name Денис Детко
							.user_desc Личный сайт веб разработчика
							.user_social
								ul.social_list
									- var socials_welcome = {"img/svg-sprite.svg#vk" : "https://vk.com/kokabum", "img/svg-sprite.svg#github" : "https://github.com/kokabum", "img/svg-sprite.svg#in" : "#"}
									each s_url, s_svg in socials_welcome
										li.social_item
											a.social_link(href=s_url)
												svg.icon.icon_vk(width="25" heith="25")
													use(xlink:href=s_svg)
							ul.menu_list
								- var pages = {"Мои работы" : "works.html", "Обо мне" : "about.html", "Блог" : "blog.html"}
								each p_url, p_name in pages
									li.list_item
										a.item_link(href=p_url)= p_name
								
						.flip-card_back
							form.login(id="login")
								
								.login-form
									h2.login_title Авторизуйтесь
									label.login-form_label
										span.login-form_icon
											svg.login_svg
												use(xlink:href="img/svg-sprite.svg#login")
										input(class="login-form_input" type="txt" name="login" placeholder="Логин" tabindex="1" maxlength="15")
									label.login-form_label
										span.login-form_icon
											svg.login_svg
												use(xlink:href="img/svg-sprite.svg#password")
										input(class="login-form_input" type="password" name="password" placeholder="Пароль" tabindex="2" maxlength="15")
									label.login-form_label
										input(type="checkbox" name="robot_check" value="not a robot" class="input_checkbox")
										span.checkbox
											svg.check_svg
												use(xlink:href="img/svg-sprite.svg#check")
										span.checkbox_text Я человек
									span.login-form_text Вы точно не робот?
									label.login-form_label.radio_button
										input(type="radio" name="robot_radio" value="shure" class="input_radio" id="noRobot")
										span.radio_text Да
									label.login-form_label.radio_button
										input(type="radio" name="robot_radio" value="who knows" class="input_radio")
										span.radio_text Не уверен
								ul.login_buttons_list
									li.button_item
										input.login_button(type="button" tabindex="6" value="На главную" id="login_home")
									li.button_item
										input.login_button(type="submit" tabindex="7" value="Войти" id="login_enter" form="login")
			footer(class="footer_welcome")
				.footer_text
					span.copyright © Денис Детко
					span.copyright.copyright_slogan создано с любовью в LoftScool
					span.copyright 2016