include common/_mixins

doctype html
html
	include common/_head
	body
		+hamburger_menu
		.wrapper_works
			header.header
				+header_top
				.info-box_user
					.info-box_img
						img(src="img/foto.jpg" class="user_foto")
					h1.info-box_name Денис Детко
					.info-box_desc Личный сайт веб разработчика
				svg.header_svg
					use(xlink:href="img/svg-sprite.svg#portfolio_header")
				svg.icon_arrow
					use(xlink:href="img/svg-sprite.svg#arrow_down")
				svg.icon_bg(preserveAspectRatio="none" viewBox="0 0 2032 360.368")
					use(xlink:href="img/svg-sprite.svg#bg")
			.box-title_works
				.works_title
					h2.works_txt Мои Работы
					svg.works_svg
						use(xlink:href="img/svg-sprite.svg#works_header")


			section.portfolio
				.portfolio_slider
					img.works_img(src="img/works/work1.png")
				.portfolio_description
					.project
						.project_name Сайт школы онлайн образования
						.project_skills HTML, CSS, JAVASCRIPT
						a.project_link(href="#") Посмотреть сайт
				.portfolio_controls
					.controls_prev
						svg.portf_arrow.arrow_down
							use(xlink:href="img/svg-sprite.svg#portf_arrow_down")
						.works_controls
							img.works_img(src="img/works/work2.jpg")
					.controls_next
						svg.portf_arrow.arrow_up
							use(xlink:href="img/svg-sprite.svg#portf_arrow_up")
						.works_controls
							img.works_img(src="img/works/work3.jpg")
			section.talks
				.talks_title
					h2.about_title_txt Что обо мне говорят
					svg.about_title_img
						use(xlink:href="img/svg-sprite.svg#about_header")
				.reviews
					blockquote.review.review_left
						.review_txt Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
						.review_author
							.avatar
								img.avatar_img(src="img/dima.png")
							.author
								p Ковальчук Дмитрий
								p основатель LoftSchool
					blockquote.review.review_right
						.review_txt Этот код выдержет любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!
						.review_author
							.avatar
								img.avatar_img(src="img/zar.png")
							.author
								p Зар Захаров
								p главный преподаватель
				form.feedback_form
					.blur
					.feedback_wrapper
						h2.feedback_title Связаться со мной
						input.feedback_field(type="text" name="name" placeholder="Имя")
						input.feedback_field(type="text" name="email" placeholder="Email")
						textarea.feedback_field.feedback_textarea(name="message" placeholder="Ваше сообщение")
					.feedback_buttons
						input.button(type="submit" value="Отправить")
						input.button(type="reset" value="Очистить")
				.up
					svg.up_icon
						use(xlink:href="img/svg-sprite.svg#portf_arrow_up")
		include common/_footer