footer.footer
			.footer_menu
				ul.footer_list
					li.footer_item
						a.footer_link(href="works.html") Мои работы
					li.footer_item
						a.footer_link(href="about.html") Обо мне
					li.footer_item
						a.footer_link(href="blog.html") Блог
					li.footer_item
						a.footer_link(href="index.html") Авторизация
				ul.footer_social-list
					li.footer_social-item
						a.footer_social-links(href="#")
							svg.footer_svg
								use(xlink:href="img/svg-sprite.svg#vk_round")
					li.footer_social-item
						a.footer_social-links(href="#")
							svg.footer_svg
								use(xlink:href="img/svg-sprite.svg#github_round")
					li.footer_social-item
						a.footer_social-links(href="#")
							svg.footer_svg
								use(xlink:href="img/svg-sprite.svg#in_round")
			.footer_copyright
				.footer_info Я веб-разработчик из Минска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
				.footer_about © Денис Детко | создано с любовью в LoftSchool | 2016