footer.footer
			.footer_menu
				ul.footer_list
					- var footer_menu = {"Мои работы" : "works.html", "Обо мне" : "about.html", "Блог" : "blog.html", "Авторизация" : "index.html",}
					each m_url, m_name in footer_menu
						li.footer_item
							a.footer_link(href=m_url)=m_name
				ul.footer_social-list
					- var footer_socials = {"img/svg-sprite.svg#vk_round" : "https://vk.com/kokabum", "img/svg-sprite.svg#github_round" : "https://github.com/kokabum", "img/svg-sprite.svg#in_round" : "#" }
					each s_url, s_svg in footer_socials
						li.footer_social-item
							a.footer_social-links(href=s_url)
								svg.footer_svg
									use(xlink:href=s_svg)
			.footer_copyright
				.footer_info Я веб-разработчик из Минска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
				.footer_about © Денис Детко | создано с любовью в LoftSchool | 2016