// Skills Pie Charts
mixin pie_chart(skill)
	.group_item
		span.item_name=skill
		svg.g-circles(width="125" height="125")
			circle(r="50" cx="65" cy="65" stroke="#ccc" fill="none")
			circle.sector(r="50" cx="65" cy="65" stroke="#10C1A8" transform="rotate(-90 65 65)")



// Header top: socials and menu button
mixin header_top
	.nav_wrapper
		.nav_social
			ul.nav_list
				- var socials_header = {"img/svg-sprite.svg#vk" : "https://vk.com/kokabum", "img/svg-sprite.svg#github" : "https://github.com/kokabum", "img/svg-sprite.svg#in" : "#"}
				each s_url, s_svg in socials_header
					li.nav_item
						a.nav_link(href=s_url)
							svg.works_icon
								use(xlink:href=s_svg)
		.nav_menu
			svg.menu_svg(version="1.1" id="menu_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" heith="30px" viewBox="0 0 40 35" enable-background="new 0 0 40 35" xml:space="preserve")
				path(d="M40,2.5C40,3.881,38.881,5,37.5,5h-35C1.119,5,0,3.881,0,2.5l0,0C0,1.119,1.119,0,2.5,0h35C38.881,0,40,1.119,40,2.5L40,2.5z")
				path(d="M40,17.5c0,1.381-1.119,2.5-2.5,2.5h-35C1.119,20,0,18.881,0,17.5l0,0C0,16.119,1.119,15,2.5,15h35C38.881,15,40,16.119,40,17.5L40,17.5z")
				path(d="M40,32.5c0,1.381-1.119,2.5-2.5,2.5h-35C1.119,35,0,33.881,0,32.5l0,0C0,31.119,1.119,30,2.5,30h35C38.881,30,40,31.119,40,32.5L40,32.5z")