// Skills Pie Charts
mixin pie_chart(skill, percent)
	.group_item
		span.item_name=skill
		svg.g-circles(width="125" height="125")
			circle(r="50" cx="65" cy="65" stroke="#ccc" fill="none")
			circle.sector.circle_percent(data-percent=percent r="50" cx="65" cy="65" stroke="#10C1A8" transform="rotate(-90 65 65)" stroke-dasharray="408" stroke-dashoffset="408")



// Header top: socials and menu button
mixin header_top
	.nav_wrapper
		.nav_social
			ul.nav_list
				- var socials_header = {"img/svg-sprite.svg#vk" : "https://vk.com/kokabum", "img/svg-sprite.svg#github" : "https://github.com/kokabum", "img/svg-sprite.svg#in" : "#"}
				each s_url, s_svg in socials_header
					li.nav_item
						a.nav_link(href=s_url)
							svg.works_icon
								use(xlink:href=s_svg)
		.nav_menu
			div.hamburg_menu
				div.hamb_top.hamb
				div.hamb_middle.hamb
				div.hamb_bottom.hamb


// Hamburger menu
mixin hamburger_menu
	.main-menu
		ul.main-menu_list
			- var hamburger_menu = {"Мои работы" : "works.html", "Обо мне" : "about.html", "Блог" : "blog.html", "Авторизация" : "index.html",}
			each m_url, m_name in hamburger_menu
				li.main-menu_item
					a.main-menu_link(href=m_url)=m_name