

/* =================================*/
/* 				About Me: 			*/
/* =================================*/
.about_bg
	position: absolute
	bottom: 0
	width: 100%
	margin-bottom: -4px  
	
	

.about_me
	background-color: #F0EFE9
	&:before,
	&:after
		content: " "
		display: block
	&:after
		clear: both

.biography
	width: 50%  
	box-sizing: border-box
	padding: 0 20px 3%  
	background-color: #F0EFE9
	float: left
	height: 100% 
	&:before,
	&:after
		content: " "
		display: block
	&:after
		clear: both
	+desktop
		padding: 0 5% 3% 
	+tablet
		width: 100%
		float: none 
	

.biography_title
	position: relative
	width: 50%
	text-align: center
	float: left
	+desktop
		width: 100% 
		float: none 
	
.biography_wrapper
	width: 50% 
	float: right 
	margin-top: -40px 
	+desktop
		width: 100% 
		float: none 
		margin-top: 0

.about_me_txt
	margin: 0 40px 
	position: relative
	display: inline-block
	z-index: 2
	font-size: 63px
	width: auto
	line-height: 1
	&:before,
	&:after
		content: ""
		height: 5px
		width: 22px
		display: inline-block
		vertical-align: middle
		background-color: #373E42
		opacity: .4
		position: absolute
		top: 50%
	&:after
		right: -23%
	&:before
		left: -23%
	+tablet
		font-size: 63px
	+desktop
		&:after
			right: -35%
		&:before
			left: -35%
	
.about_me_svg 
	padding: 0
	top: 50%
	left: 50%
	width: 100%
	-webkit-transform: translate(-48%,-60%)
	-ms-transform: translate(-48%,-60%)
	transform: translate(-48%,-60%)
	margin: 0 
	+tablet
		width: 50% 
	+phone
		width: 90% 
	
.biography_img
	margin: 40px auto 0
	width: 100%  

.biography_name
	font-size: 35px
	margin: 30px auto
	width: 30%
	position: relative
	&:before,
	&:after
		content: ""
		height: 5px
		width: 22px
		display: inline-block
		vertical-align: middle
		background-color: #373E42
		opacity: .4
		position: absolute
		top: 50%
	&:after
		right: -27px
	&:before
		left: -27px
	+desktop
		&:after
			right: 0
		&:before
			left: 0
	+laptop
		&:after
			right: -15px
		&:before
			left: -15px
	+tablet
		font-size: 30px
	+phone
		font-size: 21px 

.biography_text
	margin-bottom: 11px
	color: #455A64
	line-height: 1.5 
	+tablet
		font-size: 14px 

.skills
	background-color: #efebe0
	float: right 
	padding: 0 40px 40px
	box-sizing: border-box
	width: 50% 
	height: 100%
	+tablet
		width: 100%
		float: none
		text-align: center 
	
.skills_title
	font-size: 35px
	position: relative
	margin: 0 auto
	width: 34%  
	&:before,
	&:after
		content: ""
		height: 5px
		width: 22px
		display: inline-block
		vertical-align: middle
		background-color: #373E42
		opacity: .4
		position: absolute
		top: 23%
	&:after
		right: -30px
	&:before
		left: -30px
	+desktop
		width: 54% 
		&:after
			right: -8px
			top: 27%
		&:before
			left: -8px
			top: 27%
	+tablet
		padding-top: 40px
		padding-bottom: 40px 
		font-size: 30px 
		width: 35% 
		&:after
			right: -35px
			top: 50%
		&:before
			left: -35px
			top: 50%
	+phone
		width: 43%
		font-size: 21px
		
.skills_text
	color: #455A64
	margin: 26px 0 47px 
	+tablet
		font-size: 14px 
		
.skills_group
	margin-bottom: 27px 
	+desktop
		margin-bottom: 20px 

.group_name
	font-family: "roboto_medium"
	font-size: 28px
	color: #455A64 
	margin: 7px 0 
	+tablet
		font-size: 21px 

.group_item
	display: inline-block
	text-align: center
	position: relative
	margin-right: 27px  

.item_name
	font-family: "roboto_medium"
	font-size: 13px
	color: #10C1A8 
	position: absolute
	top: 50%
	left: 50%
	-webkit-transform: translate(-50%, -50%) 
	 -moz-transform: translate(-50%, -50%) 
	 -ms-transform: translate(-50%, -50%) 
	 -o-transform: translate(-50%, -50%) 
	 transform: translate(-50%, -50%)

.g-circles 
	fill: none
	stroke-width: 20
	position: relative

.sector 
	stroke-dasharray: 408
	stroke-dashoffset: 200
	transition: all 1s

/* =================================*/
/* 			Map, Contacts: 			*/
/* =================================*/
.contacts_wrapper
	position: relative

.contacts_map
	height: 100vh 
	
#map_wrapper
	width: 100%
	height: 600px
	
.contacts_info
	background-color: rgba(255,255,255,.7)
	padding: 19px 
	width: 343px 
	position: absolute
	top: 38%
	left: 50%
	transform: translate(-50%, -50%) 
	border-radius: 5px
	+tablet
		width: 340px 
	+phone
		width: 100%
		top: 0
		transform: none
		left: 0
		padding: 0
		background-color: rgba(255,255,255, 1)     

.contacts_title
	font-size: 35px
	margin-top: 0 
	position: relative
	margin: 0 auto
	width: 60%  
	&:before,
	&:after
		content: ""
		height: 5px
		width: 22px
		display: inline-block
		vertical-align: middle
		background-color: #373E42
		opacity: .4
		position: absolute
		top: 59%
	&:after
		right: 0
	&:before
		left: 0
	+phone
		width: 50% 
		&:after
			right: 5%
		&:before
			left: 5%

.contacts_list
	padding: 0 
	margin: 30px 0 19px 

.contacts_item
	display: flex
	margin: 20px 

.contacts_link
	color: #455A64
	margin: auto 0
	text-align: left  
	padding-left: 10px 
	font-family: "roboto_medium" 

.contacts_svg
	width: 25px
	height: 25px  
	fill: #10C1A8
	+phone
		width: 21px
		height: 21px  