@import '_mixins.sass'

/* =================================*/
/* 				Blog: 				*/
/* =================================*/

.blog_title
	position: relative
	line-height: 1.1 

.blog_txt
	color: #fff
	font-size: 63px
	position: relative
	z-index: 1 
	margin: 15px 40% 0
	&:before,
	&:after
		content: ""
		height: 5px
		width: 22px
		display: inline-block
		vertical-align: middle
		background-color: #fff
		opacity: .4
		position: absolute
		top: 50%
	&:after
		right: 75%
	&:before
		left: 75%
	+desktop
		&:after
			right: 80%
		&:before
			left: 80%
	+laptop
		&:after
			right: 100%
		&:before
			left: 95%
	+tablet
		font-size: 49px
	+phone
		font-size: 35px
		 

.blog_svg
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -45%)
	width: 324px
	height: 230px
	fill: #fff
	opacity: .2  
	+tablet
		height: 172px 
	+phone
		height: 135px 
	
.blog_desc
	color: #fff
	+tablet
		font-size: 14px
	
.blog
	margin-top: 50px 
	line-height: 1.7 
	&:before,
	&:after
		content: " "
		display: block
	&:after
		clear: both

.blog_chapters
	width: 25% 
	float: left 
	box-sizing: border-box
	padding: 12px 14px 0 21px 
	+tablet
		float: none
		display: none 

.chapters_list
	text-align: right
	margin: 0
	padding: 0   

.chapters_item  

.chapters_link
	color: #455A64
	font-family: "roboto_regular"
	padding: 12px 20px 
	display: block 
	&:hover
		color: #00BFA5
		border-right: 3px solid #00BFA5
		
.blog_posts
	width: 75% 
	float: right
	padding: 0 100px
	box-sizing: border-box 
	margin-bottom: 82px 
	+tablet
		float: none
		width: 100%
		padding: 0 5%  
		padding-bottom: 195px 

.blog_article
	margin-bottom: 60px
	padding-bottom: 60px 
	border-bottom: 3px solid rgba(0, 0, 0, .1)
	&:last-child
		border-bottom: none
		padding-bottom: 49px 
	+tablet
		font-size: 14px 
		margin-bottom: 45px

.article_title
	margin-top: 0
	font-size: 35px
	text-align: left  
	margin-bottom: 5px
	+tablet
		font-size: 30px
		margin-bottom: 10px
	+phone
		font-size: 21px

.article_date
	margin-bottom: 15px
	color:  #00BFA5
	+tablet
		margin-bottom: 20px

.article_text
	margin-bottom: 15px

