html
	height: 100%
	margin: 0
	padding: 0 
	

body
	margin: 0 
	padding: 0
	height: 100%  

footer
	height: 80px
	color: #fff

a 
	color: #fff
	text-decoration: none 
	
ul
	

ul li
	list-style-type: none
	
p 
	margin: 0 