@import '_mixins.sass'

@function rem($px)
	@return $px / 16px + 0rem

/* =================================*/
/* 				Works: 				*/
/* =================================*/
.wrapper_works
	margin-bottom: rem(-145px) 
	+tablet
		margin-bottom: -230px 

.header
	background-image: url(../img/bg.jpg)
	background-size: cover
	height: 100vh
	
.nav_wrapper
	padding: 30px 
	position: relative
	z-index: 1 
	&:before,
	&:after
		content: " "
		display: block
	&:after
		clear: both
	
.nav_social
	float: left 

.nav_list
	margin: 0 
	padding: 0 
	
.nav_item
	display: inline-block
	padding-right: 19px 

.nav_link
	opacity: .5
	&:hover
		opacity: 1 

.works_icon
	height: 22px
	width: 32px
	fill: #fff  
	transform-origin: 50% 50% 0px;
	+phone
		width: 26px
		height: 18px  

.nav_menu
	cursor: pointer
	float: right
	
.menu_svg
	fill: #fff
	opacity: .5
	width: 40px
	height: 35px
	&:hover
		opacity: 1
	+phone
		width: 30px
		height: 22px  

.info-box_user
	width: 100%
	text-align: center
	padding-top: 50px 
	position: relative
	z-index: 1

.info-box_img
	left: 50%
	padding-top: 40px

.info-box_name
	font-size: 35px
	margin-top: 14px
	margin-bottom: 0 
	color: #fff
	font-family: "roboto_medium" 

.info-box_desc
	color: #fff
	opacity: .8 
	font-family: "roboto_light"
	
.header_svg
	fill: #fff
	width: 90%
	position: absolute
	opacity: .1
	height: 100%
	top: -9%
	left: 50%
	transform: translate(-50%) 
	+tablet
		display: none

	
.icon_arrow
	height: 25px
	width: 25px  
	fill: #fff
	left: 50% 
	margin-left: -10px 
	position: absolute
	cursor: pointer 
	bottom: 9%
	opacity: .7
	&:hover
		opacity: 1 
	z-index: 1
	+tablet
		bottom: 4%
	

.icon_bg
	position: absolute
	left: 0
	right: 0 
	height: 282px 
	width: 100% 
	bottom: -146px
	fill: #FAF8F0
	+desktop
		height: 210px 
		bottom: -108px
	+tablet
		height: 159px
		bottom: -82px  
	 
.box-title_works

.works_title
	position: relative
	display: block
	text-align: center
	line-height: 148px; 
	background-color: #FAF8F0
	height: 168px 
	+tablet
		height:  100%
	+phone
		line-height: 100px 

.works_txt
	position: relative
	z-index: 2
	margin: 0 
	text-transform: uppercase
	color: #373E42
	font-family: "bernierregular_regular"
	font-size: 62px  
	&:before,
	&:after
		content: ""
		height: 5px
		width: 22px
		display: inline-block
		vertical-align: middle
		background-color: #373E42
		opacity: .4
		margin-right: 2%
		margin-left: 2%  
	+tablet
		font-size: 48px
	+phone
		font-size: 35px
		
	
.works_svg
	z-index: 1
	position: absolute
	top: -15%
	margin-left: -250px 
	opacity: .1 
	height: 178px
	width: 500px  
	+tablet
		width: 518px
		height: 131px 
	+phone
		height: 100px  

	
/* =================================*/
/* 				Portfolio: 			*/
/* =================================*/
	
.portfolio
	height: 100vh 
	&:before,
	&:after
		content: " "
		display: block
	&:after
		clear: both
	+tablet
		position: relative
	
.portfolio_description
	height: 100% 
	width: 50% 
	float: left 
	background: #F0EFE9 
	&:before
		content: ""
		display: inline-block
		vertical-align: middle
		height: 100%
		width: 0
	+tablet
		float: none
		width: 100% 
		height: 35% 
	
.project
	display: inline-block
	vertical-align: middle 
	width: 70%
	padding-left: 15%  
	text-align: center 
	


.project_name
	font-family: "bernierregular_regular"
	font-size: rem(35px) 
	color: #373E42
	position: relative
	padding: 0 100px
	&:before,
	&:after
		content: ""
		height: 5px
		width: 22px
		display: inline-block
		vertical-align: middle
		background-color: #373E42
		opacity: .4
		position: absolute
		top: 18px
	&:after
		right: 19%
	&:before
		left: 19%
	+desktop
		padding: 0
		&:after
			right: 8%
		&:before
			left: 8%
	+laptop
		padding: 0
		&:after
			right: 0
		&:before
			left: 0
	+tablet
		font-size: 21px
		&:after
			top: 50%
			right: 13%
		&:before
			top: 50%
			left: 13%
	+phone
		&:after
			right: -5%
		&:before
			left: -5%

.project_skills
	font-family: "roboto_medium"
	padding: 15px 0
	margin: 27px 0 38px
	color: #00BFA5
	border-top: 1px solid #00BFA5
	border-bottom: 1px solid #00BFA5
	+tablet
		font-size: 14px

.project_link
	display: inline-block
	background: #00BFA5
	border-radius: 5px
	width: 200px 
	height: 45px
	line-height: 45px  
	font-family: "roboto_medium" 
	&:hover
		background: #009b86
	&:before
		content: "\f0c1";
		vertical-align: middle;
		position: relative;
		font-family: "FontAwesome";
		font-size: 1.25em;
		margin-right: 8px;
	+tablet
		font-size: 14px

.portfolio_slider
	height: 70%
	width: 50% 
	overflow: hidden
	float: right 
	background: #EFEBE0 
	position: relative
	+tablet
		float: none
		width: 100%
		position: relative
		height: 45% 

.portfolio_controls
	height: 30%
	width: 50% 
	float: right 
	background: #EFEBE0 
	&:before,
	&:after
		content: " "
		display: block
	&:after
		clear: both
	+tablet
		float: none
		width: 100%
		height: 20% 

.controls_prev
	position: relative
	float: left 
	width: 50%
	height: 100%  
	text-align: center
	cursor: pointer
	z-index: 1
	background: #fff 
	&:before
		content: ""
		display: inline-block
		vertical-align: middle
		height: 100%
		width: 0
	+tablet
		

.controls_next
	position: relative
	float: right 
	width: 50%
	height: 100% 
	text-align: center
	cursor: pointer
	z-index: 1
	&:before
		content: ""
		display: inline-block
		vertical-align: middle
		height: 100%
		width: 0  
	+tablet
		

.portf_arrow
	position: absolute
	left: 42%
	top: 43%
	width: 40px
	height: 25px  
	z-index: 2 
	display: inline-block
	vertical-align: middle 
	cursor: pointer
	fill: #fff
	
.works_img
	max-width: 100%
	max-height: 100%
	position: absolute
	bottom: 0
	top: 0
	left: 0
	right: 0
	margin: auto   
	  
.works_controls
	width: 100%
	height: 100%  
	top: 0
	position: absolute
	&:after
		content: ""
		display: block
		position: absolute
		width: 100%
		height: 100%
		top: 0
		z-index: 1
		background: rgba(182,180,174,.7)
		
/* =================================*/
/* 			Talks about me: 		*/
/* =================================*/
	 	
.talks
	width: 100%
	min-height: 1290px  
	background: url("../img/bg_about.jpg")

.talks_title
	position: relative
	display: block
	text-align: center
	height: 185px 
	line-height: 185px; 
	+tablet
		font-size: 49px 
	+phone
		height: 136px 

.about_title_txt
	position: relative
	display: inline-block 
	z-index: 2
	color: #373E42
	font-family: "bernierregular_regular"
	font-size: 63px 
	font-weight: normal 
	padding-top: 10px 
	width: 380px 
	line-height: 1 
	&:before,
	&:after
		content: ""
		height: 5px
		width: 22px
		display: inline-block
		vertical-align: middle
		background-color: #373E42
		opacity: .4
		position: absolute
		top: 39px
	&:after
		right: 2%
	&:before
		left: 2%
	+tablet
		font-size: 49px
		width: 65%
		&:before,
		&:after
			top: 50%
	+phone
		font-size: 35px 
		width: 56% 

.about_title_img
	z-index: 1
	position: absolute
	top: 0
	margin-left: -250px 
	padding-top: 30px 
	opacity: .1 
	height: 175px
	width: 500px 
	left: 50%
	+tablet
		height: 140px
		padding: 0  
	+phone
		height: 100px 
	
.reviews
	width: 51% 
	margin: auto 
	display: flex 
	&:before,
	&:after
		content: " "
		display: block
	&:after
		clear: both
	+desktop
		width: 68%
	+laptop
		width: 80%
	+tablet
		font-size: 14px
		width: 95% 
	+phone
		display: block
		margin: 0 10px 
		text-align: left
		
.review_left
	float: left 
	+phone
		float: none
		width: 100% 

.review_right
	float: right
	+phone
		float: none
		width: 100% 
	
.review
	width: 50% 
	margin: 54px auto 0
	padding: 0 10px 
	+desktop
		 margin: 51px auto 0
	+tablet
		margin: -34px auto 0
		padding: 0 
	+phone
		width: 100%
		margin: 0 
		
.review_txt
	font-family: "roboto_regular"
	color: #455A64
	line-height: 1.5 
	&:before
		content: "\f10d"
		font-family: "FontAwesome"
		font-size: 2.25em
		position: relative
		display: block
		opacity: .2
		margin-bottom: 11px
	+tablet
		&:before
			margin-bottom: 5px
	+phone
		text-align: left
		&:before
			text-align: center

.review_author
	margin-top: 22px 
	&:before,
	&:after
		content: " "
		display: block
	&:after
		clear: both
	+phone
		margin-top: 10px 

.avatar
	width: 80px
	height: 80px 
	float: left  
	border-radius: 50%
	overflow: hidden  
	margin-right: 20px
	+tablet
		width: 77px
		height: 77px 
	+phone
		width: 50px
		height: 50px 
	
.author
	color: #00bfa5
	padding: 5% 0 
	+tablet
		padding: 5% 0
	+phone
		padding: 2% 0
	

.feedback_form
	width: 380px 
	margin: 60px auto 0
	position: relative
	top: 0
	border-radius: 5px
	overflow: hidden
	+desktop
		margin: 69px auto 0
	+tablet
		width: 350px 
		margin: 50px auto 0
	+phone
		margin: 29px auto 0
	
.blur
	height: 100%
	width: 100%
	background: #ccc
	opacity: .4
	position: absolute   
	
.feedback_wrapper
	padding: 0 20px 
	position: relative
	z-index: 1 

.feedback_title
	margin: 29px 0 30px
	font-size: 35px
	position: relative
	&:before,
	&:after
		content: ""
		height: 5px
		width: 22px
		display: inline-block
		vertical-align: middle
		background-color: #373E42
		opacity: .4
		position: absolute
		top: 50%
	&:after
		right: 20px
	&:before
		left: 20px
	+desktop
		&:after
			right: 6px
			top: 40%
		&:before
			left: 6px
			top: 40%
	+tablet
		margin: 32px 0 10px 
		font-size: 30px 
	+phone
		font-size: 21px 
		margin: 32px 0 24px 

.feedback_field
	border-radius: 5px
	display: block
	margin: 18px auto
	padding: 15px
	border: 0
	width: 100% 
	box-sizing: border-box
	font: inherit
	+tablet
		margin: 14px auto 17px
	
.feedback_textarea
	height: 140px 
	
.feedback_buttons
	position: relative
	width: 100% 
	&:before,
	&:after
		content: " "
		display: block
	&:after
		clear: both

.button
	float: left 
	background: #00bfa5
	border: 0
	height: 45px
	width: 50%
	opacity: .85 
	cursor: pointer 
	font-family: "roboto_medium" 
	color: #fff
	font-size: 16px
	&:first-child
		border-right: 1px solid rgba(222, 227, 231, .5)
	&:last-child
		border-left: 1px solid rgba(222, 227, 231, .5)
	&:hover
		background: #009b86
.up
	padding-bottom: 207px 
	padding-top: 65px
	text-align: center 
	+tablet
		padding-bottom: 274px 
		padding-top: 95px
	+phone
		padding-bottom: 259px 
		padding-top: 47px

.up_icon
	width: 25px
	height: 25px  

/* =================================*/
/* 				Footer: 			*/
/* =================================*/
.footer
	background: #373e42
	opacity: .85
	height: 145px  
	position: absolute
	width: 100% 
	+tablet
		height: 230px
	+phone
		font-size: 12px 
	
	
.footer_menu
	padding: 19px
	border-bottom: 1px solid rgba(255,255,255,.1) 
	&:before,
	&:after
		content: " "
		display: block
	&:after
		clear: both


.footer_list
	padding: 0
	margin: 0  
	width: 50%
	float: left   
	height: 35px 
	line-height: 35px 
	font-family: "roboto_medium" 
	+tablet
		float: none
		width: 100%  
		text-align: center 

.footer_item
	display: inline-block
	padding-right: 35px 

.footer_link

.footer_social-list
	width: 50%;
	padding: 0;
	float: right;
	margin: 0;
	text-align: right 
	height: 35px 
	+tablet
		float: none
		width: 100% 
		text-align: center 
		margin-top: 10px 

.footer_social-item

.footer_social-links

.footer_svg
	width: 35px
	height: 35px  
	fill: #fff
	padding-left: 8px 
	opacity: .7
	&:hover
		opacity: 1

.footer_copyright
	font-family: "roboto_light" 
	padding: 15px 20px
	&:before,
	&:after
		content: " "
		display: block
	&:after
		clear: both

.footer_info
	float: left
	width: 40% 
	+tablet
		float: none
		width: 100% 
		text-align: center 

.footer_about
	float: right
	width: 50% 
	text-align: right 
	padding-top: 15px 
	+tablet
		float: none
		width: 100% 
		text-align: center  
	
